@page "/DirectoryWhitSpace"
@using BlazorDirectory.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation
<h3>Contactos Disponibles</h3>

<div class="alert alert-secondary mt-4">
    <span class="oi oi-person me-2" aria-hidden="true"></span>
    <strong>Información del directorio telefonico</strong><br><br>

    <span class="text-nowrap">
        <p>Mensaje : @message</p>
    </span>
</div>

@code {
    private Contact _contact = new Contact();
    string message = "";
    private string name = "";

    private async Task DirectoryWhitSpaces()
    {
        string info = await Http.GetStringAsync("https://localhost:7163/api/contact/spaceContact/");
        message = info;
    }
}