@page "/ExistsContact"
@using BlazorDirectory.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation
<h3>Existe contacto</h3>

<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
    <br>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>