.navbar-toggler[b-zwv49ojzti] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-zwv49ojzti] {
    height: 4.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zwv49ojzti] {
    font-size: 1.1rem;
}

.oi[b-zwv49ojzti] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-zwv49ojzti] {
    font-size: 0.9rem;
    padding-bottom: 1.5rem;
}

    .nav-item:first-of-type[b-zwv49ojzti] {
        padding-top: 2rem;
    }

    .nav-item:last-of-type[b-zwv49ojzti] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zwv49ojzti]  a {
        color: #d7d7d7;
        border-radius: 12px;
        height: 4rem;
        display: flex;
        align-items: center;
        line-height: 1.4rem;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
}

.nav-item[b-zwv49ojzti]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-zwv49ojzti]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zwv49ojzti] {
        display: none;
    }

    .collapse[b-zwv49ojzti] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
